html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("https://www.greatsmallhotels.com/photos/50277_hotel-marincanto_.jpg");
    font-family: 'Arial';
    min-height: 100vmin;
}

nav {
    background-color: rgb(212, 20, 94);
    padding: 20px;
    border-bottom: 5px solid rgb(12, 24, 181);
    text-align: center;
    font-size: 2em;
    color: rgb(9, 234, 77);
}

main {
    margin: 30px 25%;
    padding: 50px;
    background-color: rgb(71, 11, 212);
    min-height: 50vh;
}

footer {
    text-align: center;
    background-color: rgb(227, 179, 21);
    padding: 20px;
    border-top: 5px solid rgb(14, 157, 228);
}

h1 {
    text-align: center;
}

h5 {
    color: #777;
}

input,
select {
    width: 100%;
    display: inline-block;
}

legend {
    font-weight: bold;
}

fieldset {
    margin: 20px 0;
}

input[type='submit'] {
    font-size: 1.5em;
}

input[type='radio'],
input[type='checkbox'],
label {
    width: auto;
}

.mini-image {
    height: auto;
    width: 100%;
}

.required-field {
    color: rgb(86, 11, 235);
}